<template>
    <div class="container" ref="www">
        <div class="first_column front"  style="position: fixed; z-index: 100;">
            <div class="cell_1 cell_header border">
                <b>Календарь МРКТ</b>
            </div>
            <img src="../public/gear_wheel.svg" class="settings" alt="Настройки таблицы">
            <div class="row" v-for="row in rows">
                <div class="cell_1 border">{{ row["secondCol"] }}</div>
            </div>
        </div>
        <div class="first_column" style="">
            <div class="cell_2">
                Календарь МРКТ
            </div>
           
            <div class="row" v-for="row in rows">
                <div class="cell_1 border">{{ row["secondCol"] }}</div>
            </div>
        </div>
        <div v-for="day in days" :ref="setItemRef">
            <div class="first_column">
                <div class="cell_solid border">
                </div>

                <div class="cell cell_date border">
                    {{ day["date"] }}
                </div>
                <div class="cell cell_week_day border">
                    {{ day["weekDay"] }}
                </div>
            </div>
            <div  class="cell_empty border border_target" v-bind:id="'a-' + day['selector']"></div>
            <div  class="cell_empty border border_target" v-bind:id="'b-' + day['selector']"></div>
            <div  class="cell_empty border border_target" v-bind:id="'c-' + day['selector']"></div>
            <div  class="cell_empty border border_target" v-bind:id="'d-' + day['selector']"></div>
            <div  class="cell_empty border border_target" v-bind:id="'e-' + day['selector']"></div>
            <div  class="cell_empty border border_target" v-bind:id="'f-' + day['selector']"></div>
            <div  class="cell_empty border border_target" v-bind:id="'g-' + day['selector']"></div>
            <div  class="cell_empty border border_target" v-bind:id="'h-' + day['selector']"></div>
        </div>
    </div>
</template>

<style>
html, body {
  margin: 0px;
  padding: 0px;
  background-color: aliceblue
}
.container {
    display: flex;
    flex-direction: row;
}
.first_column {
    display: flex;
    flex-direction: column;
}
.row {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.popup {
    color: aliceblue;
    background-color: aliceblue;
    border-radius: 4vh;
    text-align: center;

}
.border {
    border: aliceblue 0.5vh solid;
}
.border_target {
    border-radius: 2vh;
}
.cell {
    font-family: "Roboto";
    font-size: 2vh;
    color: aliceblue;
    width: 10vh;
    height: 6.5vh;
    text-align: center;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cell_solid {
    visibility: hidden;
    width: 10vh;
    height: 6.5vh;
}
.cell_empty {
    width: 10vh;
    height: 6.5vh;
    background-color:rgb(144, 193, 241);
}
.cell_promoution {
    position: absolute;
    border-radius: 1vh;
}
.cell_promoution:hover {
    background-color: rgb(255, 0, 191);
}
.cell_1 {
    font-family: "Roboto";
    font-size: 2vh;
    background-color: rgb(33, 29, 239);
    height: 6.5vh;
    width: 30vh;
    text-align: center;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cell_2 {
    height: 6.5vh;
    width: 30vh;
  
}
.cell_header {
    font-family: "Roboto";
    font-size: 3vh;
    background-color:  rgb(33, 29, 239);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cell_week_day {
    background-color: rgb(69, 69, 230);
}
.cell_date {
    background-color: rgb(26, 76, 168);
}
.settings {
    height: 6.5vh;
    position: fixed;
    top: 5px; 
    right: 10px;
}
</style>

<script>
import file from "./info.json"
    export default {
        data() {
            return {
                rows: 
                    [
                    {secondCol: "Дата"},
                    {secondCol: "Вид акции"},
                    {secondCol: "Основная акция"},
                    {secondCol: "Категорийные акции"},
                    {secondCol: "Промокоды и Кэшбек"},
                    {secondCol: "Клиентские дни"},
                    {secondCol: "Только для ecomm"},
                    {secondCol: "Анонс на ТВ"},
                    {secondCol: "ДР Магазинов"},
                    {secondCol: "Реклама"},
                    ],
                promotions: file["promotions"],
                days: [],
                popupInfo: [],
                itemRefs: [],
                engAlphabet: "abcdefghijklmnopqrstuvwxyz",
                columnOfDate: {}
            };
        },
        methods: {
            setItemRef(el) {
                if (el) {
                this.itemRefs.push(el)
                }
            },

            getWeekDay(date) {
                let days = ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'];
                return days[date.getDay()];
            },

            openPopup(promotion) {
                let popup = document.createElement("div");
                let popupArea = document.createElement("div");
                
                popupArea.style.background = "black";
                popupArea.style.opacity = "0.6";
                popupArea.style.width = `${window.innerWidth}px`;
                popupArea.style.height = `${window.innerHeight}px`;
                popupArea.style.position="fixed";
                popupArea.style.zIndex = "101";

                popup.style.cssText ="font-family:'Roboto'; font-size: 4vh;  display: flex; flex-direction: column; justify-content: center;";
                popup.classList.add("popup");
                popup.style.width='90vh';
                popup.style.height="40vh";
                popup.style.position="fixed";
                popup.style.left = `${window.innerWidth/3}px`;
                popup.style.top = `${window.innerHeight/5}px`;
                popup.style.zIndex = "102";
                popup.style.color ="rgb(26, 76, 168)";

                popup.innerHTML = `<div>Наименовании акции: <b>"${promotion["title"]}"</b></div>
                                    <div>В акции участвуют бренды:</div>`;

                promotion["rules"].forEach(rule => {
                    let row = document.createElement("div");
                    row.innerText = `"${rule["brandName"]}" со скидкой ${rule["discount"]}%`;
                    popup.append(row);
                })

                this.$refs.www.appendChild(popup)
                this.$refs.www.appendChild(popupArea)
                document.body.style.overflow = "hidden"

                popupArea.addEventListener("click", (e) => {
                    popup.remove()
                    popupArea.remove()
                    document.body.style.overflow = "visible"
                })
            },

            getPromotionPeriod(start, end) {
                return this.getPeriod(start, end)
            },
            
            convertDateToCode(date) {
                let a = (date.toLocaleDateString("ru").split(".").join(""))
                let res = []
                for (let i = 0; i < a.length; i++) {
                    res[i] = this.engAlphabet[a[i]]
                }
                return res.join("")
            },

            getPeriod(start, end) {
                let response = [];
                let columnNumber = 0;
                while (start <= end) {
                    let day = {}
                    day["date"] = start.toLocaleDateString("ru");
                    day["selector"] = this.convertDateToCode(start);
                    day["weekDay"] = this.getWeekDay(start);
                    start = (new Date(Date.parse(start) + (1000*60*60*24)));
                    response.push(day);
                    this.columnOfDate[`${day["date"]}`] = columnNumber
                    columnNumber++;
                };
                return response;
            },

            getDays() {
                let maxDate = "";
                let minDate = "";
                let promoutionsPeriods = [];
                this.promotions.forEach(promotion => {
                    let start = new Date(promotion["startDate"]);
                    let end = new Date(promotion["endDate"]);
                    promoutionsPeriods.push(
                        this.getPromotionPeriod(start, end)
                    );
                    if (minDate == "") {
                        minDate = start;
                    } else {
                        if (minDate > start) {
                            minDate = start;
                        };
                    };
                    if (maxDate =="") {
                        maxDate = start;
                    } else {
                        if (maxDate < end) {
                            maxDate = end;
                        };
                    };
                });
                this.days= this.getPeriod(minDate, maxDate);
            },

            getInfoForFill(promotion) {
                let object = {};
                let start = new Date(promotion["startDate"]);
                let date = start.toLocaleDateString("ru");
                
                object["date"] = date;
                object["CategoryId"] = promotion["CategoryId"];
                object["period"] = (new Date(promotion["endDate"]) - start)/(1000*60*60*24)
                object["cssSelector"] = this.engAlphabet[promotion["CategoryId"]-1] + "-"+ this.convertDateToCode(start);
                return object
            },
        },
        beforeUpdate() {
    this.itemRefs = []
  },
  updated() {
    this.promotions.forEach(promoution => {
        let objectPromotion = this.getInfoForFill(promoution);
        let date = objectPromotion["date"];
        let column = this.columnOfDate[`${date}`];
        let startCell = this.itemRefs[column].querySelector(`#${objectPromotion["cssSelector"]}`);
        let newElement = document.createElement("div");
        let choseColor = {
            "1":"orangered",
            "2":"green",
            "3":"red",
            "4":"grey",
        };
        let periodOfPromotion = objectPromotion["period"];
        let promotionWidth = 10 * periodOfPromotion + periodOfPromotion -1; 

        newElement.style.backgroundColor = choseColor[promoution["CategoryId"]];
        newElement.classList.add("cell", "cell_promoution",  "border_target");
        newElement.style.width =`${promotionWidth}vh`;
        newElement.innerText = promoution["title"];

        startCell.appendChild(newElement);
        newElement.onmouseover = () => {
            newElement.style.backgroundColor ="rgb(255, 0, 191)";
        };
        newElement.onmouseout = () => {
            newElement.style.backgroundColor =choseColor[promoution["CategoryId"]];
        };
        newElement.addEventListener("click", (event) => {
            this.openPopup(promoution);
        });
    })
  },
        mounted() {
            this.getDays();
        },
    };

</script>